.menu-content {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
}

#menu-toggle:checked ~ .menu-content {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

a {
  font-weight: bold;
}