@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

h1 {
    color: #044a71 /* Color del mochuelo */
}

span {
    color: var(--greek-gold);
    font-weight: bold;
    font-family: "Marcellus", serif;
}
