@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

h1 {
    color: #044a71 /* Color del mochuelo */
}

#apolo {
    color: var(--greek-gold);
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

#atenea {
    color: silver;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
