<nav class="shadow-md text-lg">
    <div class="container mx-auto px-4">
        <div class="flex items-center justify-between py-3">
            <!-- MENÚ DESPLEGABLE -->
            <div class="relative md:hidden">
                <input type="checkbox" id="menu-toggle" class="hidden">
                <label for="menu-toggle" class="nav-link">
                    <i class="fas fa-landmark text-2xl"></i>
                </label>

                <div
                    class="menu-content absolute top-full left-0 bg-white shadow-md transition-all duration-300 w-48 mt-2 rounded-b-xl">
                    <div class="flex flex-col space-y-4 p-4">
                        <a href="#" class="nav-link">Inicio</a>
                        <a href="#" class="nav-link">Jugar</a>
                        <a href="#" class="nav-link">Ranking</a>
                        <a *ngIf="isLoggedIn() && isAdmin()" href="#" class="nav-link">Gestionar</a>
                    </div>
                </div>
            </div>
            <!-- FIN MENÚ DESPLEGABLE -->

            <div class="hidden md:flex space-x-8">
                <a href="#" class="nav-link">Inicio</a>
                <a href="#" class="nav-link">Jugar</a>
                <a href="#" class="nav-link">Ranking</a>
                <a *ngIf="isLoggedIn() && isAdmin()" href="#" class="nav-link">Gestionar</a>
            </div>

            <div class="relative">
                <!-- LOGIN -->
                <ng-container *ngIf="!isLoggedIn()">
                    <input type="checkbox" id="login-toggle" class="hidden">
                    <label for="login-toggle" class="nav-link flex items-center">
                        <i class="fas fa-sign-in-alt mr-2"></i>
                        Iniciar Sesión
                    </label>

                    <!-- MENÚ DESPLEGABLE PARA INICIAR SESIÓN -->
                    <div
                        class="menu-content absolute right-0 top-full bg-white shadow-md transition-all duration-300 w-72 mt-2 rounded-b-xl">
                        <div class="flex flex-col space-y-4 p-4">
                            <app-login (loginSuccess)="onLoginSuccess()"></app-login>
                        </div>
                    </div>
                </ng-container>

                <!-- USUARIO LOGUEADO -->
                <div *ngIf="isLoggedIn()" class="relative">
                    <div class="flex items-center">
                        <span class="username">{{ getCurrentUser()?.nombre }}</span>
                        <div class="relative">
                            <input type="checkbox" id="user-menu-toggle" class="hidden">
                            <label for="user-menu-toggle" class="nav-link">
                                <i class="fas fa-scroll"></i>
                            </label>

                            <div
                                class="menu-content absolute right-0 top-full bg-white shadow-md transition-all duration-300 w-48 mt-2 rounded-b-xl">
                                <div class="flex flex-col space-y-4 p-4">
                                    <a [routerLink]="['perfil']" href="#" class="nav-link flex items-center">
                                        <i class="fas fa-user mr-2"></i>
                                        Perfil
                                    </a>
                                    <a (click)="onLogout()" class="nav-link flex items-center">
                                        <i class="fas fa-sign-out-alt mr-2"></i>
                                        Cerrar Sesión
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>