<div class="home-container">
    <section class="game-modes">
        <h2 class="greek-title" style="text-align: center;">Modos de Juego</h2>
        <div class="modes-grid">
            <div class="mode-card">
                <h3 class="greek-title">Modo Estándar</h3>
                <p>Demuestra tu sabiduría en 10 preguntas</p>
                <button class="greek-button">Jugar</button>
            </div>
            <div class="mode-card">
                <h3 class="greek-title">Modo Examen</h3>
                <p>La propia Atenea juzgará tus conocimientos</p>
                <button class="greek-button">Comenzar</button>
            </div>
            <div class="mode-card">
                <h3 class="greek-title">Modo Contrarreloj</h3>
                <p>Cronos obstaculizará tu travesía</p>
                <button class="greek-button">Desafiar</button>
            </div>
            <div class="mode-card">
                <h3 class="greek-title">Modo Infinito</h3>
                <p>Apolo juzgará si eres digno de convertirte en el Oráculo</p>
                <button class="greek-button">Explorar</button>
            </div>
        </div>
    </section>
</div>