<footer class="bg-[#2796c2] text-white mt-auto">
    <div class="container mx-auto py-8 px-4">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
            <div class="flex items-center justify-center">
                <h3 class="text-xl font-bold">Desarrollo de Aplicaciones Web</h3>
            </div>
            <div class="flex items-center justify-center">
                <h3 class="text-xl font-bold">Samuel García Zorrilla</h3>
            </div>
            <div class="flex items-center justify-center">
                <div class="flex items-center space-x-6">
                    <h3 class="text-xl font-bold">Sígueme en</h3>
                    <a href="https://github.com/samuelgrzr" class="hover:text-[#7FE5F0] text-2xl" target="_blank">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="https://x.com/samuelgrzr" class="hover:text-[#7FE5F0] text-2xl" target="_blank">
                        <i class="fab fa-x-twitter"></i>
                    </a>
                    <a href="https://www.instagram.com/samuelgrzr/" class="hover:text-[#7FE5F0] text-2xl" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="text-center pt-8 border-t border-white/20 mt-8">
            <p>&copy; 2025 Oraculum. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>