@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import "tailwindcss";

:root {
  --marble-white: #f4f4f4;
  --greek-blue: #177ea7;
  --light-blue: #b2d9e7;
  --greek-gold: #ffd755;
  color: rgb(192, 192, 192);
}

body {
  font-family: "Marcellus", serif;
}

main {
  background: radial-gradient(ellipse at top, var(--light-blue) 0%, var(--marble-white) 100%);
}

.greek-button {
  background-color: var(--greek-blue);
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.greek-button:hover {
  background-color: var(--light-blue);
  color: var(--greek-blue);
}

.greek-title {
  font-weight: bold;
  color: var(--greek-blue);
  letter-spacing: 0.05em;
}

.nav-link {
  color: var(--greek-blue);
  font-weight: 500;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease;
  position: relative;
  cursor: pointer;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: var(--greek-blue);
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.nav-link:hover::after {
  width: 100%;
}

::placeholder {
  color: var(--greek-blue);
  opacity: 0.5;
}

:-ms-input-placeholder {
  color: var(--greek-blue);
  opacity: 0.5;
}

::-ms-input-placeholder {
  color: var(--greek-blue);
  opacity: 0.5;
}

.delete-button {
  background-color: rgb(195, 0, 0);
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  opacity: 0.5;
}

.cancel-button {
  background-color: rgb(177, 177, 177);
  color: black;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.cancel-button:hover {
  opacity: 0.5;
}

.create-button {
  background-color: var(--greek-blue);
  color: var(--greek-gold);
  font-weight: bold;
  border: none;
  margin-bottom: 1rem;
  padding: 0.8rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.create-button:hover {
  opacity: 0.5;
}